.search__track{
    margin-bottom: 100px;
}

.mb_single_page{
    margin-bottom: 0px;
}

.mb_search_page{
    margin-bottom: 600px;
}

.carousel__big__box__10{
    width: 100%;
    margin-top: 80px;
    flex-wrap: wrap;
}
.flex-wrap{
    flex-wrap: wrap;
}


.carousel__big__box{
    width: 100%;
    margin-top: 80px;

}

.margin__tp__100{
    margin-top: 100px;
}

.carousel__title__section{
    display: flex;
}


.carousel__title{
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
color: white;


}

.carousle__button {

    width: 5%;
    height: 260px;

    background-color: rgb(26, 29, 36);
    z-index: 50;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
}

.carousle__button__actor{
    width: 6%;
    height: 260px;
    background-color: rgb(26, 29, 36);
    z-index: 50;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
}


.side__left {
    width: 100%;
    height: 100%;
    color: antiquewhite;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    transform: translateX(-10px);
}
.side__right {
    width: 100%;
    height: 100%;
    color: antiquewhite;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    /* position: absolute;
    top: 50%; */
    /* transform: translateY(-50%); */
}

.side__left:hover .left__icon{
transform: scale(1.2);
color:rgb(16, 255, 162) ;
}

.side__right:hover .right__icon{
    transform: scale(1.2);
    color:rgb(16, 255, 162) ;
    }
    

.left__icon{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.52);
    transition: .1s;
}


.right__icon{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.52);
    transition: .1s;

}


.carousel__button--left {
    position: absolute;
    left: -20px;
    top: 120px;
    transform: translateY(-50%);
    /* border-radius: 0 10px 10px 0; */
}


.carousel__button--right {
    position: absolute;
    right: -20px;
    top: 120px;
    transform: translateY(-50%);
    /* border-radius: 10px 0 0 10px; */

}


.carousle__button__actor--left {
    position: absolute;
    left: -20px;
    top: 120px;
    transform: translateY(-50%);
}


.carousle__button__actor--right {
    position: absolute;
    right: -20px;
    top: 120px;
    transform: translateY(-50%);

}
.carousle__button__actor--left {
    position: absolute;
    left: -20px;
    top: 120px;
    transform: translateY(-50%);
}


.carousle__button__actor--right {
    position: absolute;
    right: -20px;
    top: 120px;
    transform: translateY(-50%);

}


.carousel {
    height: 360px;
    position: relative;
    /* height: 600px; */
    width: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
}

.carousel__images {
    width: 100%;
    border-radius: 10px;
    /* height: 500px; */
}

.carousel__track-container {
    width: 100%;
    margin: 20px auto;
    position: relative;
    border-radius: 10px;
    height: 360px;
    /* overflow-x: hidden; */
    /* background-color: rgb(146, 255, 52); */
    /* padding: 10px; */
    /* height: 100%; */
}

.carousel__track {
    position: relative;
    height: 100%;
    padding: 0;
    list-style: none;
    transition: .5s;
}

.carousel__slide {
    /* display: flex; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__nav {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}

.carousel__indicator {

    width: 25px;
    height: 5px;
    margin-right: 3px;
    cursor: pointer;

}

.carousel__indicator.current-slide {

    background-color: rgba(0, 0, 0, 0.499);

}

.is-hidden {
    display: none;
}

.image__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* --imge__card-------------------------------------------- */

.image__card {
    width: 33.3%;
    transition: .5s;
    padding: 0 2px;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
}
.image__card__actor{
    width: 22%;
}


.carousel__images__box{
    transform: scale(1);
    
    transition: .5s;
}


.imge__card__information{
    opacity: 0;
    /* clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%); */
    width: 100%;
    height: 100%;
    background-color: rgb(26, 29, 36);
    position: absolute;
    transition: .5s;
    padding: 3px;
    border-radius: 5px;
}
.information__video{
    width: 100%;
    transition: .4s;
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}


.information__top{
    width: 100%;
    height: 133px   ;
    border-radius: 5px;

    overflow: hidden;

}

.information__top video{
    width: 100%;
}

.Bottom__display{
    display: flex;
    color: white;
}
.information__typ{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 24px;
    border-radius: 5px;
    border:1px solid rgb(3, 212, 255);
    color: rgb(3, 212, 255);
}

.information__name{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    color: white;
}

.information__star{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.information__staricon_box{
    width: 100%;
}
.information__staricon_box img{
    width: 100%;
}

.information__point{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(16, 255, 162);
}


.information__bottom{
    opacity: 0;
    transition: .4s;
    width: 100%;
    height: 63%;
    position: relative;
}

.information__bottom_1{
    display: flex;
    justify-content: space-between;
margin-top: 10px;
}
.information__bottom_2{
    width: 100%;
    margin-top: 15px;
}
.information__bottom_3{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
}

.information__bottom_4{
    margin-top: 10px;

    font-size: 14px;
}
.information__bottom_5{
    margin-top: 10px;
    color: white;
    font-size: 14px;
}

.information__actor__name{
transition: .1s;
color: white;

}


.information__actor__name:hover{
    color: rgb(16, 255, 162);
}


.information__bottom_5 a {
    text-decoration: none;
}

.information__bottom_6{
    width: 100%;
position: absolute;
bottom: 0;
}

.information__bottom_6-5{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    margin-top: 5%;
    /* padding: 10px 0  ; */
}

.information__bottom_6-5_actor{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    margin-top: 1%;
    /* padding: 10px 0  ; */
}

.detail{
    transition: .2s ;
}

.detail:hover{
    transform: translateX(-5%);
    color: rgb(16, 255, 162);
    /* border-bottom: 1px solid rgb(16, 255, 162); */
}


.information__bottom_6-5 a{
    text-decoration: none;
    color: rgb(1, 195, 121);

}
.information__bottom_6-5_actor a{
    text-decoration: none;
    color: rgb(1, 195, 121);

}


.push__up{
    width: 100%;
    height: 30px;
border-radius: 5px;
border: none;
    background-color: rgb(16, 255, 162);
    transition: .2s;
}
.actor__bt{

    margin-bottom: 20px;

}

.push__up:hover{
box-shadow: 0 0 8px rgb(16, 255, 162);
transform: translateY(-5%);
}

.push__up-2{
    width: 30%;
    height: 30px;
border-radius: 5px;
border: none;
    background-color: rgb(16, 255, 162);
    transition: .2s;
}

.push__up-2:hover{
box-shadow: 0 0 8px rgb(16, 255, 162);
transform: translateY(-5%);
}
.bottom_6_icon_box{
    /* width: 100%; */
    display: flex;
}

.bottom_6_icon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    transition: .2s;
}
.bottom_6_icon:hover{
transform: translateY(-3px) scale(1.01);
filter: brightness(120%);

}

.speace{
    margin: 0 5px;
}

/* --imge__card-------------------------------------------- */

.card4 {
    display: none;
}

.card5 {
    display: none;
}

.card6 {
    display: none;
}

.card7 {
    display: none;
}

/* -----card_text------------ */


.movie__name{
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    font-size: 14px;
    padding: 0px 0;
}
.movie__icons{
    display: flex;
}
.movie__icon__box{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.main_movie{

    font-size: 12px;
    
}

.Color__blk{
    color: black !important;
}


.actor__movie_name{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}


@media screen and (min-width: 750px) {

    .image__card {
        width: 25%;
        padding: 3px;
    }

    .image__card__search_page {
        width: 13%;
        padding: 3px;
        margin-bottom: 60px;
    }




    .card4 {
        display: block;
    }

    .card5 {
        display: block;
    }

}

@media screen and (min-width: 1200px) {
    .card6 {
        display: block;
    }

}





@media screen and (min-width: 1600px) {
    .card7 {
        display: block;
    }

    .movie__name{
        color: white;
        font-size: 16px;
        padding: 5px 0;
    }
    .movie__icons{
        display: flex;
    }
    .movie__icon__box{
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    .image__card__actor{
        width: 23.5%;
        padding: 3px;
    }

    .image__card__actor_none{
        display: none;
    }
    .carousle__button {
        height: 420px;
    }
    .carousel__button--left {
        position: absolute;
        left: -75px;
        top: 200px;
        transform: translateY(-50%);
        /* border-radius: 0 10px 10px 0; */
    }
    
    
    .carousel__button--right {
        position: absolute;
        right: -75px;
        top: 200px;
        /* transform: translateY(-50%); */
        /* border-radius: 10px 0 0 10px; */
    
    }

    .carousle__button__actor{

        height: 520px;
    }


    .carousle__button__actor--left {
        position: absolute;
        left: -50px;
        top: 160px;
        transform: translateY(-50%);
    }
    
    
    .carousle__button__actor--right {
        position: absolute;
        right: -50px;
        top: 160px;
        transform: translateY(-50%);
    
    }
    
    .image__card:hover .carousel__images__box{
        transform: scale(0);
        opacity: .3;
        /* border: 5px solid wheat; */
    }
    
    .image__card:hover .imge__card__information{
        opacity: 1;
        transform: scale(1.1) ;
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
        z-index: 105;
        background-color: rgb(26, 29, 36);
        /* border-top: 2px solid rgb(16, 255, 162);
        border-bottom: 2px solid rgb(16, 255, 162); */
        /* box-shadow: 0 -15px 5px -16px rgb(16, 255, 162); */
    }
    
    
    .image__card:hover .information__bottom{
        opacity: 1;
        color: rgba(0, 0, 0, 0);
    }
    
    
    
    .image__card:hover .information__video {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .mb_single_page{
        margin-bottom: 100px;

    }
    


    
}
@media screen and (min-width: 1800px) {
    .card7 {
        display: block;
    }

    .movie__name{
        color: white;
        font-size: 16px;
        padding: 5px 0;
    }
    .movie__icons{
        display: flex;
    }
    .movie__icon__box{
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    .image__card__actor{
        width: 23.5%;
        padding: 3px;
    }

    .image__card__actor_none{
        display: none;
    }
    .carousle__button {
        height: 420px;
    }
    .carousel__button--left {
        position: absolute;
        left: -85px;
        top: 200px;
        transform: translateY(-50%);
        /* border-radius: 0 10px 10px 0; */
    }
    
    
    .carousel__button--right {
        position: absolute;
        right: -85px;
        top: 200px;
        /* transform: translateY(-50%); */
        /* border-radius: 10px 0 0 10px; */
    
    }

    .carousle__button__actor{
        width: 7%;

        height: 520px;
    }


    .carousle__button__actor--left {
        position: absolute;
        left: -60px;
        top: 160px;
        transform: translateY(-50%);
    }
    
    
    .carousle__button__actor--right {
        position: absolute;
        right: -60px;
        top: 160px;
        transform: translateY(-50%);
    
    }
    
    .image__card:hover .carousel__images__box{
        transform: scale(0);
        opacity: .3;
        /* border: 5px solid wheat; */
    }
    
    .image__card:hover .imge__card__information{
        opacity: 1;
        transform: scale(1.1) ;
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
        z-index: 105;
        background-color: rgb(26, 29, 36);
        /* border-top: 2px solid rgb(16, 255, 162);
        border-bottom: 2px solid rgb(16, 255, 162); */
        /* box-shadow: 0 -15px 5px -16px rgb(16, 255, 162); */
    }
    
    
    .image__card:hover .information__bottom{
        opacity: 1;
        color: rgba(0, 0, 0, 0);
    }
    
    
    
    .image__card:hover .information__video {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .mb_single_page{
        margin-bottom: 100px;

    }
    


    
}
