.carousel__big__box__4{
    width: 100%;
    margin-top: 40px;

}
.carousel__title__section__4{
    display: flex;
}


.carousel__title__4{
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
color: white;


}

.carousle__button__4 {

    width: 5%;
    height: 130%;
    background-color: rgb(26, 29, 36);
    z-index: 90;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
}


.side__left__4 {
    width: 100%;
    height: 100%;
    color: antiquewhite;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    transform: translateX(-10px);
}
.side__right__4 {
    width: 100%;
    height: 100%;
    color: antiquewhite;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    /* position: absolute;
    top: 50%; */
    /* transform: translateY(-50%); */
}

.side__left__4:hover .left__icon__4{
transform: scale(1.2);
color:rgb(16, 255, 162) ;
}

.side__right__4:hover .right__icon__4{
    transform: scale(1.2);
    color:rgb(16, 255, 162) ;
    }
    

.left__icon__4{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.52);
    transition: .1s;
}


.right__icon__4{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.52);
    transition: .1s;

}


.carousel__button--left__4 {
    position: absolute;
    left: -5%;
    top: 70%;
    transform: translateY(-50%);
    /* border-radius: 0 10px 10px 0; */
}


.carousel__button--right__4 {
    position: absolute;
    right: -5%;
    top: 70%;
    transform: translateY(-50%);
    /* border-radius: 10px 0 0 10px; */

}


.carousel__4 {
    position: relative;
    /* height: 600px; */
    width: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
}

.carousel__images__4 {
    width: 100%;
    border-radius: 10px;
    /* height: 500px; */
}

.carousel__track-container__4 {
    width: 100%;
    margin: 20px auto;
    position: relative;
    border-radius: 10px;
    height: 360px;

    /* overflow-x: hidden; */
    /* background-color: rgb(146, 255, 52); */
    /* padding: 10px; */
    /* height: 100%; */
}

.carousel__track__4 {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: .5s;
}

.carousel__slide__4 {
    /* display: flex; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__nav__4 {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}

.carousel__indicator__4 {

    width: 25px;
    height: 5px;
    margin-right: 3px;
    cursor: pointer;
}

.carousel__indicator__4.current-slide__4 {
    background-color: rgba(0, 0, 0, 0.499);
}

.is-hidden__4 {
    display: none;
}

.image__box__4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}





.image__card__4 {
    width: 33.3%;
    transition: .4s;
    padding: 0 2px;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
}


.carousel__images__box__4{
    transform: scale(1);

    transition: .4s;
}



.image__card__4:hover .carousel__images__box__4{
    transform: scale(0);
    opacity: .3;
    /* border: 5px solid wheat; */
}

.image__card__4:hover .imge__card__information{
    opacity: 1;
    transform: scale(1.05) ;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    z-index: 105;
    background-color: rgb(26, 29, 36);
    border-top: 2px solid rgb(16, 255, 162);
    border-bottom: 2px solid rgb(16, 255, 162);
}
.image__card__4:hover .information__bottom{
    opacity: 1;
}



.image__card__4:hover .information__video {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}








.card4__4 {
    display: none;
}

.card5__4 {
    display: none;
}

.card6__4 {
    display: none;
}

.card7__4 {
    display: none;
}

/* -----card_text------------ */


.movie__name__4{
    color: white;
    font-size: 14px;
    padding: 0px 0;
}
.movie__icons__4{
    display: flex;
}
.movie__icon__box__4{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.carousel__images__box__4{
    position: relative;
}
/* --------------------------- */

.movie__update__time{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    height: 70px;
    position: relative;
}

.update__line{
    width: 100%;
    height: 2px;
background-color:rgba(255, 255, 255, 0.487)
}

.up__date__box{
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    /* width: 100%; */
}

.Point{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin: auto;
    background-color: rgb(16, 255, 162);
}
.up__date{
    color: white;
    font-size: 16px;
    padding-top: 5px;
}
@media screen and (min-width: 750px) {

    .carousel__big__box__4{
        width: 100%;
        margin-top: 200px;
    
    }
    

    .image__card__4 {
        width: 25%;
        padding: 3px;
    }

    .card4__4 {
        display: block;
    }

    .card5__4 {
        display: block;
    }

}

@media screen and (min-width: 1200px) {
    .card6__4 {
        display: block;
    }

}

@media screen and (min-width: 1600px) {
    .card7__4 {
        display: block;
    }

    .movie__name__4{
        color: white;
        font-size: 16px;
        padding: 5px 0;
    }
    .movie__icons__4{
        display: flex;
    }
    .movie__icon__box__4{
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    .up__date__box{
        position: absolute;
        left: 50%;
        top: -45px;
        transform: translateX(-50%);
        /* width: 100%; */
    }
    
}