/* @media screen and (max-width: 500px) {
            .left_nav {
                display: none;
            }

        } */

.member-img-wrap {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.member-img-wrap img {
    width: 100%;
}

.ar-cate {
    margin-top: 10px;
}

label {
    white-space: nowrap;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    color: #fff;
    background-color: #1A1D24;
    border-bottom: 1px solid #ffffff80;
}

.d-filter {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #1A1D24;
    margin-right: 10px;
}

.d-filter-m {
    color: #10FFA2;
    border: 1px solid #10FFA2;
}

.d-filter-d {
    color: #FC6F51;
    border: 1px solid #FC6F51;
}

.d-filter-e {
    color: #FEB73A;
    border: 1px solid #FEB73A;
}

.d-filter-a {
    color: #1CD8FF;
    border: 1px solid #1CD8FF;
}

.left__container {
    width: 100%;
}

.right__container {
    display: none;
}

.left__container .creater {
    padding-bottom: 20px;
    border-bottom: 2px solid #FEB73A;
}

.left__container .creater h3 {
    color: #ffffff80;
}

p {
    color: #fff;
    line-height: 2.5rem;
}

.hashtag {
    padding-bottom: 20px;
    border-bottom: 2px solid #FEB73A;
}

.ar-filter a {
    color: #ffffff80;
}

.comment-img-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-card {
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff80;
}

.comment-card input {
    width: 200px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid #ffffff80;
    border-radius: 5px;
}

.comment-card button {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    padding: 3px 8px;
    
}

.single {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.multiple {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

li.filter_2w:hover,
li.filter_3w:hover,
li.filter_4w:hover {
    color: #10FFA2;
    cursor: pointer;
}

@media screen and (min-width: 750px) {
    .text__container {
        width: 94%;
        /* height: 100vh; */
        /* background-color: rgb(124, 124, 124); */
        margin: 80px auto 0 auto;

    }

    .top_nav_searchbar_box {
        width: 200px;
    }

    .left_nav {
        display: block !important;
    }

    .left_div {
        display: block !important;
    }

    .bars {
        opacity: 0;
    }

    .top_nav_movwe_img-2 {
        transform: scale(1);
    }

    .left__container {
        width: 65%;
    }

    .right__container {
        display: block;
        width: 30%;
    }


    .member-img-wrap {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
    }

    .member-img-wrap img {
        width: 100%;
    }

}


