.d-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.wid-100p {
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}



h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

p, span {
    color: #ffffff80;
    /* font-size: 1.2rem; */
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* 最上面filter */

.top-filter {
    width: 94%;
}

.top-filter ul li {
    margin-right: 25px;
}

.top-filter h3 {
    color: #ffffff80;
}

.top-filter ul li a:hover h3 {
    color: #10FFA2;
}

/* 上面border那條線線 */

.banner__container {
    border-top: 1px solid #ffffff80;
    padding-top: 30px;
}

/* 左邊 */

.left__container {
    width: 65%;
}

.left__container ul {
    width: 100%;
}

/* 大家都在討論 hashtag + 我要發文 */

.left__container ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left__container ul li a {
    color: #ffffff80;
}

.left-member-img-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.left-member-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


input {
    width: 100%;
    height: 30px;
}

svg {
    margin-right: 5px;
}

.d-filter {
    color: #1CD8FF;
    border: 1px solid #1CD8FF;
    padding: 3px 5px;
    border-radius: 5px;
}

/* 文章作者圖片 */

.ar-img-wrap {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
}

ul.ar-filter li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff80;
}

/* 文章ㄉ圖片 */

.card-img-wrap {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
}

.card-img-wrap img {
    width: 100%;
}


/* 右邊 */

.right__side {
    width: 30%;
}

/* 熱門創作者 */

.card-creater {
    text-decoration: none;
    color: #ffffff80;
    margin-bottom: 20px;
}

/* 熱門創作者頭像 */

.member-img-wrap {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.member-img-wrap img {
    width: 100%;
}

/* 熱門文章 + 許願池 */

.hot-article .d-filter, .wish__container .d-filter{
    color: #FEB73A;
    border: 1px solid #FEB73A;
}

.hot-article .d-filter a,
.wish__container .d-filter a {
    color: #FEB73A;
}

.article-img-wrap, .wish-img-wrap {
    border-radius: 20px;
    overflow: hidden;
}

.article-img-wrap img, .wish-img-wrap img {
    width: 100%;
}

/* 許願池進度條 */

.process-bar {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #ffffff80;
    border-radius: 10px;
}

.process-bar::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 8px;
    background-color: #10FFA2;
    border-radius: 10px;
}

/* 商城 */

.product {
    width: 180px;
}

.product-img-wrap {
    width: 180px;
    border-radius: 10px;
    overflow: hidden;
}

.product-img-wrap img {
    width: 100%;
}

.product h2 {
    display: inline;
}

