.outline {
    outline: 1px solid red;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-item-center {
    align-items: center;
}

.align-item-end {
    align-items: end;
}

.align-content-around {
    align-content: space-between;
}

.t-a-center {
    text-align: center;
}

.inline {
    display: inline;
}

.white-space {
    white-space: nowrap;
}

.overflowX {
    overflow-x: hidden;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.m-0{
    margin: 0 auto;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-50 {
    margin-right: 50px;
}

.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}

.main-color {
    color: #10FFA2;
}

.yellow {
    color: #FEB73A;
}

.orange {
    color: #FC6F51;
}

.white {
    color: #fff;
}

.border-bottom-main-color {
    border-bottom: 1px solid #10FFA2;
}

ul li {
    font-size: 12px;
    list-style-type: none;
}

a {
    color: #ffffff80;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

p {
    color: #ffffff80;
    font-size: 14px;
}

span {
    color: #ffffff80;
    font-size: 12px;
}


@media screen and (min-width: 750px) {
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    p {
        color: #fff;
        font-size: 14px;
    }

    span {
        color: #ffffff80;
        font-size: 12px;
    }
}

/* d-filter 影劇分類用 */

.d-filter {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #1A1D24;
    margin-right: 10px;
}

/* 電影 */
.d-filter-m {
    color: #10FFA2;
    border: 1px solid #10FFA2;
}

/* 影劇 */
.d-filter-d {
    color: #FC6F51;
    border: 1px solid #FC6F51;
}

/* 綜藝 */
.d-filter-e {
    color: #FEB73A;
    border: 1px solid #FEB73A;
}

/* 動畫 */
.d-filter-a {
    color: #1CD8FF;
    border: 1px solid #1CD8FF;
}

/* hashtag list 標籤用 */